<div class="dashboard-container">
    <div><p class="display-3 text-center jbtText">Welcome to Petbook</p>
    <hr class="my-4">
</div>

<div class="dashboard-container-redirect text-center">
    <h1>Now that you're registered, feel free to register your pet <a href="/signup-pet">here!</h1>
</div>
</div>
