

<div class="jumbotron container">

    <p class="display-3 text-center text-uppercase jbtText">Pet Book</p>
    <hr class="my-4">

    <div class="row">
        <div class="col-md-3 offset-md-4">
            <button type="submit" class="btn btn-primary btn-lg mb-2 formtext" id='signInBtn'>Sign In</button>
        </div>

        <div class="col-md-3">
            <button type="submit" class="btn btn-primary btn-lg mb-2 formtext" id='signUpBtn'>Sign Up</button>
        </div>

    </div>

</div>
